.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px 10px 0 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 768px){
    flex-direction: column;

  }
  .song-info {
    color: white;
    padding: 0.5rem;
    text-align: center;
    flex: 1;
    overflow: hidden;

    .Typewriter{
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    h3 {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0.25rem;
    }
  }

  .time-control {
    flex: 2;
    display: flex;
    align-items: center;
    color: rgb(145, 255, 0);
    font-size: 12px;
    padding: 0.5rem;

    input[type="range"] {
      width: 100%;
      height: 3px;
      border-radius: 3px;
      outline: none;
      cursor: pointer;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 12px;
        height: 12px;
        background-color: rgb(145, 255, 0);
        border-radius: 50%;
        cursor: pointer;
      }

      &::-moz-range-thumb {
        width: 12px;
        height: 12px;
        background-color: rgb(145, 255, 0);
        border-radius: 50%;
        cursor: pointer;
      }
    }

    p {
      margin: 0;
      margin-left: 0.5rem;
      color: white;
      flex: 1;
      text-align: center;
    }
  }

  .play-control {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;

    svg {
      cursor: pointer;
      color: rgb(145, 255, 0);
      margin: 0 0.5rem;
    }

    .volume-controlbar {
      display: flex;
      align-items: center;
      flex: 1;

      svg {
        margin: 0;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0.5rem;
    .song-info {
      padding: 0;
    }

    .time-control {
      padding: 0;
      font-size: 10px;
    }

    .play-control {
      font-size: 14px;
    }
  }
}
